.DS_Store
_recoloured/
portfolio_text.rtf
*.rtf
figures/originals/
figures/audit-reinstatement.png
figures/behaviour.png
figures/cfos-pca.png
figures/correlation-matrices.png
figures/graphical-abstract.png
figures/morphine-pc1.png
figures/morphine-pc2.png
figures/morphine-pca.png
figures/network-full.png
figures/network-schematic.png
figures/ovarian-cycles.png
figures/priors.png
figures/ribbon-cs.png
figures/ribbon-ds.png
figures/ribbon-precs.png
figures/stockwars.jpg
figures/subject-posteriors.png
